Port 22
AddressFamily any
ListenAddress 0.0.0.0
ListenAddress ::
Protocol 2
LogLevel INFO
HostKey /root/.ssh/id_rsa
PermitRootLogin yes
AuthorizedKeysFile	/root/.ssh/authorized_keys
PasswordAuthentication no
UsePrivilegeSeparation no
PermitUserEnvironment yes
AllowUsers root
GatewayPorts yes
RSAAuthentication yes
PubkeyAuthentication yes
#ChallengeResponseAuthentication no
PermitEmptyPasswords no
